body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-image: url("./assets/toilet.jpeg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  background-color: black;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.upvote {
  color: black;
  top: 30px;
  right: 50px;
  position: absolute;
}

.downvote {
  color: black;
  top: 50px;
  right: 50px;
  position: absolute;
}

.title {
  text-decoration: underline;
}

.restroom {
  height: 40px;
  width: 50px;
}

.classBody {
  position: relative;
}

.containers {
  background-color: white;
  border: 1px;
  border-radius: 1px;
}

.search {
  color: white;
  background-color: black;
}

